@font-face {
  font-family: "Norse";
  src: url("../fonts/Norse-Bold.eot");
  src:
  url("../fonts/Norse-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Norse-Bold.woff2") format("woff2"),
  url("../fonts/Norse-Bold.woff") format("woff"),
  url("../fonts/Norse-Bold.ttf") format("truetype");
  font-style: normal;
}

.norse {
  font-family: "Norse", helvetica, sans-serif;
}

body {
  background: #fdfdfd;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: rgba(74, 74, 74, 0.7);
}

.p-188 {
  line-height: 1.88;
}

header li a {
  color: rgba(74, 74, 74, 0.7);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 8px;
}

.nav-logo a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.title img {
  height: 140px;
}

.successStories img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.nav-logo a img {
  height: 70px;
}

.nav-logo a span {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #cc9543;
  letter-spacing: 0.4px;
  font-size: 32px;
  display: inline-block;
  padding-left: 0.5em;
}

@media screen and (max-width: 1024px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  nav button {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    background: white;
    border: none;
    width: 40px;
  }

  nav button span {
    display: block;
    height: 30px;
    width: 60px;
    background-color: inherit;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2032%2032%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20stroke%3D%27%236abfc3%27%20stroke-width%3D%272%27%20stroke-linecap%3D%27round%27%20stroke-miterlimit%3D%2710%27%20d%3D%27M4%208h24M4%2016h24M4%2024h24%27%2F%3E%3C%2Fsvg%3E);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.button-style {
  background: #6abfc3;
  color: white;
  padding: 16px 56px;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2px;
  border: none;
}

.button-style:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.headerWrapper {
  width: 100%;
  max-width: 1585px;
}

header {
  background: #fdfdfd;
  margin-bottom: 50px;
}

.successStories a {
  color: rgba(74, 74, 74, 0.7);
  padding-top: 30px;
}

.footer-logo a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.successStories div a {
  color: orange;
}

footer .footer-links a {
  color: rgba(74, 74, 74, 0.7);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

header li a:hover {
  color: black;
}

header li:nth-child(4) {
  border-right: 2px solid rgba(74, 74, 74, 0.7);
}

.landingTitle {
  margin-bottom: 60px;
}

.landingTitle h1 {
  font-size: 36px;
  padding-bottom: 30px;
  color: orange;
}

.landingTitle h3 {
  font-size: 18px;
  padding-bottom: 70px;
  color: rgba(74, 74, 74, 0.7);
}

.background-img {
  width: 100%;
}

.how-it-works {
  padding-top: 100px;
  margin: 0 auto 100px;
  max-width: 625px;
}

.how-it-works h2 {
  font-size: 24px;
  margin-bottom: 36px;
  color: #4a4a4a;
  font-weight: bold;
}

.how-it-works p {
  font-size: 18px;
  padding-top: 18px;
  line-height: 1.88;
}

.title {
  padding: 16px;
}

.title h4 {
  margin: 50px 0 20px;
  font-size: 18px;
  color: #4a4a4a;
}

.title p {
  font-size: 18px;
}

.learning {
  background: #f3f3f3;
  padding-top: 60px;
  font-weight: bold;
  color: #4a4a4a;
  padding-bottom: 60px;
}

.learning h2 {
  padding-bottom: 60px;
  font-size: 24px;
}

.learning > div {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.learning .learnButton {
  background: #cc9543;
}

.footer-logo a img {
  height: 70px;
}

.learning .learningTile {
  background: white;
  padding: 23px 46px 25px;
  margin: 0 30px 30px 0;
  font-size: 18px;
  -webkit-box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
}

.learning .learningTile img {
  height: 160px;
}

.learning .learningTile h4 {
  margin: 18px 0 8px;
}

.success {
  background-image:
  -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff),
    to(#eee)
  );
  background-image: linear-gradient(to bottom, #fff, #eee);
}

.successStories {
  font-size: 18px;
  color: rgba(74, 74, 74, 0.7);
}

.successStories a:hover {
  color: black;
}

.successStories div {
  padding-bottom: 36px;
}

.successStories div a:hover {
  color: orange;
}

.successStories figure {
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
  text-align: center;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.successStories .successStory {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.successStories .sign-up {
  padding: 80px 40px;
}

.successStories .sign-up h3 {
  font-size: 35.2px;
  margin-bottom: 46px;
}

footer {
  min-height: 277px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .footer-links a:hover {
  color: black;
}

footer .footer-links1 {
  margin-right: 4rem;
}

footer .logo a i {
  color: #cc9543;
  font-size: 24px;
}

footer .logo a:hover i {
  color: black;
}

.footer-logo a span {
  color: #cc9543;
  letter-spacing: 0.4px;
  font-size: 32px;
  display: inline-block;
  padding-left: 0.5em;
}
/*# sourceMappingURL=style.css.map */
